body {
  margin: 0;
  background: var(--th);
  overflow-x: hidden;
  user-select: none;
}

[linemessage] {
  height: 1rem;
  padding: 0.15rem 0.75rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fg);
  color: var(--bg);
  font-size: 0.75rem;
  font-weight: 700;
  box-shadow: var(--box-shadow);
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
  height: 50vh;
}
#cover > .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
#cover > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cover > .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  transition: opacity 0.1s ease-out;
}
#nav > .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
#nav > .left > .title {
  font-size: 1rem;
  font-weight: 700;
}
#nav > .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}
#nav > .right > button > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 3rem;
}
#nav > .right > button > .icon > .material-symbols-outlined {
  font-size: 1.25rem;
  color: black;
}

#main {
  background: var(--bgl);
  margin-top: 50vh;
  margin-top: calc(50 * var(--vh));
}

#header {
  margin-bottom: 1rem;
}
#header > .desc {
  padding: 1rem;
  background: white;
}
#header > .desc > .booth {
  font-size: 2rem;
  font-weight: 700;
}
#header > .desc > .table {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(128, 128, 128);
}

#menu {
  padding-bottom: 6rem;
}
#menu > .category {
  background: white;
  margin-bottom: 1rem;
}
#menu > .category > .title {
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#menu .menu {
  padding: 0 1rem;
  cursor: pointer;
}
#menu .menu > .wrapper {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--bgl);
}
#menu .menu:last-child > .wrapper {
  border-bottom: none;
}
#menu .menu > .wrapper > .image {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  background: var(--fgl);
  overflow: hidden;
}
#menu .menu > .wrapper > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu .menu > .wrapper > .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#menu .menu > .wrapper > .image ~ .text {
  width: calc(100% - 6rem);
}
#menu .menu > .wrapper > .text > .desc > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#menu .menu > .wrapper > .text > .desc > .title > .text {
  font-size: 1.25rem;
  font-weight: 700;
}
#menu .menu > .wrapper > .text > .desc > .title > .buttons {
  display: flex;
  height: 1.5rem;
  width: 5rem;
  background: var(--th);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0, 0.65, 0.35, 1);
}
#menu .menu > .wrapper > .text > .desc > .title > .buttons.hide {
  transform: scale(0);
}
#menu .menu > .wrapper > .text > .desc > .title > .buttons > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--bg);
}
#menu .menu > .wrapper > .text > .desc > .title > .buttons > * > * {
  font-size: 1rem;
  font-weight: 700;
}
#menu .menu > .wrapper > .text > .desc > .title > .buttons > .count {
  width: 1.5rem;
}
#menu .menu > .wrapper > .text > .desc > .title > .buttons > .remove,
#menu .menu > .wrapper > .text > .desc > .title > .buttons > .add {
  width: 1.75rem;
}
#menu .menu > .wrapper > .text > .desc > .content {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--fgl);
}
#menu .menu > .wrapper > .text > .price {
  text-align: right;
  font-weight: 700;
}

#gradient {
  width: 100%;
  height: 12rem;
  background: var(--th);
  background: linear-gradient(180deg, var(--bgl) 0%, var(--th) 100%);
}

#panel-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(100 * var(--vh));
  pointer-events: none;
}

#panel-bottom > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
#panel-bottom[phase='cart'] > .bg,
#panel-bottom[phase='order'] > .bg {
  opacity: 1;
  pointer-events: all;
}

#panel-bottom > .fg-message {
  position: absolute;
  bottom: 6rem;
  left: 0;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#panel-bottom > .fg-message .message {
  position: relative;
  margin-top: 0.25rem;
  opacity: 1;
  transform: translate(0, 0) scale(1);
  transition: transform 0.3s cubic-bezier(0, 0.65, 0.35, 1),
    opacity 0.3s cubic-bezier(0, 0.65, 0.35, 1),
    height 0.3s cubic-bezier(0, 0.65, 0.35, 1);
}
#panel-bottom > .fg-message .message[phase='hide'] {
  height: 0;
  opacity: 0;
  transform: translate(0, 5rem) scale(0.75);
  transition: transform 0.3s cubic-bezier(0.65, 0, 1, 0.35),
    opacity 0.3s cubic-bezier(0.65, 0, 1, 0.35),
    height 0.3s cubic-bezier(0.65, 0, 1, 0.35);
}

#panel-bottom > .fg-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: 0;
  padding: 1rem;
  padding-bottom: 4rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: white;
  box-shadow: var(--box-shadow);
  pointer-events: all;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0, 0.65, 0.35, 1);
}
#panel-bottom[phase='cart'] > .fg-content,
#panel-bottom[phase='order'] > .fg-content {
  height: 60vh;
  height: calc(60 * var(--vh));
  transition: height 0.3s cubic-bezier(0, 0.65, 0.35, 1);
}
#panel-bottom > .fg-content > .content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 6rem);
  overflow: hidden;
  transition: opacity 0.3s cubic-bezier(0, 0.65, 0.35, 1);
}
#panel-bottom[phase='cart'] > .fg-content > .content.order,
#panel-bottom[phase='order'] > .fg-content > .content.cart {
  opacity: 0;
  pointer-events: none;
}
#panel-bottom > .fg-content > .content > .title {
  width: 100%;
  height: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.25rem;
}
#panel-bottom > .fg-content > .content > .title > .text {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
#panel-bottom > .fg-content > .content > .title > .close {
  width: 2rem;
  height: 1.75rem;
  justify-content: flex-end;
}
#panel-bottom > .fg-content > .content > .title > .close > * {
  width: 1.75rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: black;
}
#panel-bottom > .fg-content > .content.cart > .list {
  width: 100%;
  height: calc(100% - 5rem);
  background: red;
}
#panel-bottom > .fg-content > .content.cart > .total {
  width: 100%;
  height: 3rem;
  background: blue;
}

#panel-bottom > .fg-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: all;
}
#panel-bottom > .fg-control button {
  position: relative;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--bg);
  box-shadow: var(--box-shadow);
  white-space: nowrap;
  transition: width 0.2s cubic-bezier(0, 0.65, 0.35, 1),
    background 0.2s ease-out;
}
#panel-bottom > .fg-control button > .text {
  overflow: hidden;
}
#panel-bottom > .fg-control #button-panel-bottom-left {
  width: calc(40% - 0.25rem);
  background: var(--fg);
}
#panel-bottom > .fg-control #button-panel-bottom-right {
  width: calc(60% - 0.25rem);
  background: var(--th);
}
#panel-bottom > .fg-control #button-panel-bottom-left[disabled] {
  background: var(--fgl);
}
#panel-bottom > .fg-control #button-panel-bottom-right[disabled] {
  background: var(--thl);
}
#panel-bottom > .fg-control #button-panel-bottom-right > .count {
  position: absolute;
  top: -0.6rem;
  right: -0.5rem;
  transform: scale(1);
  transform-origin: 4.5rem center;
  transition: transform 0.2s cubic-bezier(0, 0.65, 0.35, 1),
    background 0.2s ease-out;
}
#panel-bottom > .fg-control #button-panel-bottom-right > .count[phase='hide'] {
  transform: scale(0);
}
#panel-bottom > .fg-control #button-panel-bottom-right[disabled] > .count {
  background: var(--fgl);
}
#panel-bottom[phase='cart'] > .fg-control #button-panel-bottom-left {
  width: 0;
}
#panel-bottom[phase='cart'] > .fg-control #button-panel-bottom-right {
  width: 100%;
}
#panel-bottom[phase='order'] > .fg-control #button-panel-bottom-left {
  width: 100%;
}
#panel-bottom[phase='order'] > .fg-control #button-panel-bottom-right {
  width: 0;
}
